<h1>Reset Password</h1>

<%= form_for @user, url: update_password_path(@user) do |f| %>
  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
  </div>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password %>
  </div>
    <div>
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation %>
  </div>
  <div>
    <%= f.submit%>
  </div>
<% end %>