<h1>Post Show page</h1>

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p>Created <%= time_ago_in_words(@post.created_at) %> ago </p>

<% #if can? :crud, @post %>
<p><%= button_to "Edit", edit_post_path(@post), method: :get%></p>

<p><%= link_to "Delete", post_path(@post.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure"} %></p>
<% #end %>
<ul>

<% @post.comments.each do |com| %>
    <%= com.body %>
    <p>Created <%= time_ago_in_words(com.created_at) %> ago </p>
    <%= link_to 'Delete',  post_comment_path(@post.id, com.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <hr>
  <% end %>

<%= @comment.errors.full_messages.join(', ') %>
<%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit %>
  <% end %>