<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if user_signed_in? %>
 *** Hello <%= link_to "current_user.first_name", edit_user_path, method: :get %> <p>,
 ***<p><%= button_to "Edit", edit_user_path(@user.id), method: :get%>
    <%= button_to "Logout", sessions_path, method: :delete,
            data: {confirm: "are you sure you want to log out?"}%>
  <% else %>
    <%= link_to "Login", new_sessions_path %> |
    <%= link_to "Sign Up", new_user_path %>
  <% end %>
  <hr>
    <%= yield %>
  </body>
</html>
